@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900|Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,800);
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,100);


nav{
  /* background:#fb6602; */
  background: none;  /* #ef32d9 fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */*/
  /*background: linear-gradient(to right, #89fffd, #ef32d9);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-width:100%;

}

@media only screen and (max-width: 600px) {
  #smallMedia {
    background-image: '/public/images/backgroundSmall.png' !important;
  }
}
/*a:hover{
	border: 2px solid black;
}*/


.card{
	/* border:2px solid #89fffd; */
	/* border-radius: 10px; */
	transition-duration: 2s;
	transition-property: background-image;
	color: grey;
	transition-timing-function: ease-in;
}

.card:hover{
	/*background-color: aqua;*/
	/*background-image: linear-gradient(to right, #89fffd, #ef32d9);*/
	border:2px solid aqua;
	/*border-radius: 20px;*/
	color: rgba(0,0,0,0.7);
}
.main-landing-area{
position: relative;
  margin-top: 0%;
  margin-left: 14%;
}

body{
margin:0;
padding:0;
overflow: auto;
}



.parallax-container {
  height: 400px;
}


footer{
  background: #ef32d9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C3E50, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C3E50, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.aboutus-span{
  color:#1D555A;
  font-size: 20px;
}




/*    start code for the actual button:         */


/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #2C3E50;
  /*font-family: 'Yatra One', cursive;*/
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 60px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px

}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 10px;
  fill: transparent;
  stroke: #2C3E50;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -245;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;
  color: #2C3E50;
  font-weight: 10px;
}

#text a {
  color: #2C3E50;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 10px;
  stroke-dashoffset: 0;
  stroke: #2C3E50;

}


.textGrad {
	text-transform: uppercase;
	background: linear-gradient(to right, #4CA1A0 0%, #2C3E50 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 20vw;
		family: $font;
	};
}

/*
.gradBox {
  height: auto;
  width: auto;
  border-radius: 100%;
  box-shadow: 0 1px 0 0 rgba(255, 192, 0, 0.25), 0 -1px 0 0 rgba(255, 64, 0, 0.25), 1px 0 0 0 rgba(255, 192, 0, 0.25), -1px 0 0 0 rgba(255, 64, 0, 0.25), 1px -1px 0 0 rgba(255, 128, 0, 0.5), -1px 1px 0 0 rgba(255, 128, 0, 0.5), 1px 1px 0 0 rgba(255, 255, 0, 0.75), -1px -1px 0 0 rgba(255, 0, 0, 0.75);
}
*/





/*........... Tweaks in test begins here ....................*/

h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 48px;
   background: -webkit-linear-gradient(-91deg, #4CA1AF 5%, #2C3E50 53%, #2C3E50 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 58px;
 

}


h2 {
  font-size: 64px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 100px;
  font-family: 'Intro', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  /* Warning: no fallback */
  
  background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: #232d2d;
  
}
/*..................... Tweaks in text ends here.....................*/



/* Timeline Materialize Design */
.content {
  width: 70%;
  margin-left: 15%;
}
.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #fff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  left: calc(50% - 1px);
  top: 0;
  border:1px solid teal;
}

.timeline .timeline-event::after {
  border:1px solid teal;
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #fff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  top: calc(50% - 20px);
  right: calc(50% - 20px);
  border-radius: 50%;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }


/* Versions */

ul li {
      width: 100%;
      color: #000;
      /*background-color: #fff;*/
    }

   .collapsible-header {
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease;
      transition-property: color;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s;
    }

   ul li .collapsible-header:hover {
      color: grey;
    }

   .textAlignCenter {
      position: absolute;
      padding: 10px 0px 0px 7px !important;
    }

   .collapsible-header, .collapsible-body {
      border-bottom: none !important;
    }